<% title "API" %>

<p>Die JSON-API ermöglicht das Steuern des Spiels vom Frontend aus, die URLs können aber auch direkt mit dem Browser getestet werden.</p>
<p>Um zum Beispiel eine Stadt ohne Umweg über das Frontend anzulegen, genügt der folgende Aufruf:</p>
<p><%= link_to create_city_url + "?city[name]=", create_city_path + "?city[name]=", class: :ajax %><strong>*Name der Stadt*</strong></p>
<p>Falls der Aufruf fehlerhaft ist, werden entsprechende Hinweise gegeben.</p>

<h4>API-Übersicht (Backend)</h4>
<%= action_dump(Actions::backend_actions, :ajax).html_safe %>

<h4>Frontend-Aktionen</h4>
<%= action_dump(Actions::frontend_actions, nil).html_safe %>