/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.messages {
  margin-top: 20px;
}

.big {
  font-size: 1.3em;
  line-height: 1.5em;
}

li.spaced {
  padding-top: 5px;
}

.admin-only {
  margin-top: 20px;
  background-color: #ffe9e9;
  padding: 1px 20px 15px 20px;
  border-radius: 10px;
  border: 1px solid #fbb;
}

.play-btn {
  display: block;
  border: 1px solid black;
  background-color: #428bca;
  font-size: 20px;
  width: 200px;
  padding: 7px;
  margin: 3px 0;
  text-align: center;
  color: white;
}

.play-btn:hover {
  color: white;
  background-color: #64adec;
  text-decoration: none;
}