<h3>Hallo, <%= @email %>!</h3>

<p>Jemand hat einen Link angefordert, um dein Passwort zurückzusetzen. Klicke zum Ändern deines Passwortes hier:</p>

<p><strong><%= link_to 'Passwort ändern', edit_password_url(@resource, :reset_password_token => @token) %></strong></p>

<p>Wenn du keinen Link angefordert hast, ignoriere bitte diese Mail.</p>
<p>Dein Passwort wird nicht geändert, solange du nicht auf den Link oben klickst.</p>

<p style="font-size:0.8em"><em>(Bitte antworte nicht auf diese Mail. Sie wurde automatisch generiert.)</em></p>