<p>Hallo <%= @resource.email %>!</p>

<p>Jemand hat einen Link angefordert, um dein Passwort zu ändern. Mit dem Link unten kannst du dies tun.</p>

<p><%= link_to 'Passwort ändern', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Wenn du keinen Link angefordert hast, ignoriere bitte diese Mail.</p>
<p>Dein Passwort wird nicht geändert solange du nicht auf den Link oben klickst und ein neues erstellst.</p>
